@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
:root {
  --primary: #e85709;
  --bg-gray: #f4f4f4;
  --text-muted: #666666;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #ffffff;
  color: #000000;
  font-family: Montserrat, ui-sans-serif, system-ui, sans-serif;
  overflow-x: clip;
}

.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.faq-item[open] .faq-icon {
  transform: rotate(180deg);
}

.stat-card:hover {
  box-shadow: inset 1px 1px 19px 8px rgb(232 87 9 / 15%);
}

summary::-webkit-details-marker {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}
